<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="theme">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card padding color="light">
    <ion-row> 
      <ion-col>
        <div style="height:74px; border-radius: 37px; border-width: 2px; border-color: #05BCFF; display: flex; justify-content: center" > 
          <img src="../../assets/imgs/profile.jpg" style="width: 70px; border-radius: 35px;" text-center>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf ="!!buyerData">
      <ion-col  *ngIf = "role == 'Buyer'" text-center>
        <strong>{{ buyerData.firstname }}  {{ buyerData.lastname }}</strong><br>
        {{ buyerData.email }}<br>
        {{ buyerData.phoneNumber }}<br>
      </ion-col>
      <ion-col *ngIf = "role == 'Seller'" text-center>
        <strong>{{ buyerData.storename }}</strong><br>
        {{ buyerData.email }}<br>
        {{ buyerData.phoneNumber }}<br>
      </ion-col>
    </ion-row>
    <button ion-button block color="theme" style="border-width: 3px; border-color: #05BCFF;" (click)="editProfile()" icon-start><ion-icon name="person">
    </ion-icon>Edit Profile</button>
  </ion-card>

  
  <ion-card padding color="light">
    <ion-row>
        <h1 style="position: relative; text-align: center;">History</h1><br><br>See your transaction history
    </ion-row>
    <button ion-button block color="theme" (click)="history()" style="border-width: 3px; border-color: #05BCFF;" icon-start><ion-icon name="time"></ion-icon>Show History</button>

  </ion-card>
  <button ion-button block color="danger" (click)="logout()" style="border-width: 3px; border-color: #05BCFF;" icon-start><ion-icon name="log-out"></ion-icon>Log Out</button>

</ion-content>
