<ion-header>

  <ion-navbar color="theme" style="height: 60px;">
    <img src="../../assets/imgs/icon.png" style="width: 100px;">
  </ion-navbar>

</ion-header>

<ion-content *ngIf="!storeId" text-center>
  <ion-grid style="height: 100%">
    <ion-row align-items-center justify-content-center style="height: 100%">
      <ion-col>
        <h4 no-margin>Please Scan</h4>
        <h4 no-margin>The Store QR Code First</h4>
        <button ion-button margin-top block color="theme" (click)="scanQRCode()" style="height: 50px;" icon-start>
          <ion-icon name="qr-scanner"></ion-icon>Scan
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="storeId" style="padding-top: 80px; padding-bottom: 100px;">
  <div padding-left>
    <h1>Shopping Cart</h1>
    Lotte Mart, Alam Sutera
    <!-- {{ storeResult.storeName }} -->
  </div>

  <ion-list >
    <ion-card color="light" *ngFor="let product of products, let i = index">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <img src="../../assets/imgs/icon.png" style="width: 70px; height: 70px; border-radius: 4px;">
          </ion-col>
          <ion-col col-9>
            <ion-card-header no-padding padding-bottom>
              <strong>{{ product.product.name }}</strong>
            </ion-card-header>
            <ion-card-content no-padding padding-bottom>Rp {{ product.price * product.qty}}</ion-card-content>
            <ion-item>
              <div text-right>
                <button ion-button color="theme" style="border-radius: 15px; height: 30px; width: 30px;" (click)="substractProductQuantity(i)">-</button>
                <input text-center type="number" value={{product.qty}} style="width: 30px; height: 30px; align-self: center; border-radius: 4px;">
                <button ion-button color="theme" style="border-radius: 15px; height: 30px; width: 30px;" (click)="addProductQuantity(i)">+</button>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
  <!-- <ion-list>
    <ion-item>
      <ion-card color="light">
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <img src="../../assets/imgs/icon.png" style="width: 70px; height: 70px; border-radius: 4px;">
            </ion-col>
            <ion-col col-9>
              <ion-card-header no-padding padding-bottom>
                <strong>Sprite per dus</strong>
              </ion-card-header>
              <ion-card-content no-padding padding-bottom>Rp 100.000</ion-card-content>
              <div text-right>
                <button ion-button color="theme" style="border-radius: 15px; height: 30px; width: 30px;">-</button>
                <input text-center type="number" value="{{productQty}}" style="width: 30px; height: 30px; align-self: center; border-radius: 4px;">
                <button ion-button color="theme" style="border-radius: 15px; height: 30px; width: 30px;">+</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card color="light">
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <img src="../../assets/imgs/logo.png" style="width: 70px; height: 70px; border-radius: 4px;">
            </ion-col>
            <ion-col col-9>
              <ion-card-header no-padding padding-bottom>
                <strong>Coca Cola per dus</strong>
              </ion-card-header>
              <ion-card-content no-padding padding-bottom>Rp 100.000</ion-card-content>
              <div text-right>
                <button ion-button color="theme" style="border-radius: 15px; height: 30px; width: 30px;">-</button>
                <input text-center type="number" value="{{productQty}}" style="width: 30px; height: 30px; align-self: center; border-radius: 4px;">
                <button ion-button color="theme" style="border-radius: 15px; height: 30px; width: 30px;">+</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list> -->
  <div *ngIf="productResult">
    <p>{{ productResult.cancelled }}</p>
    <p>{{ productResult.format }}</p>
    <p>{{ productResult.text }}</p>
  </div>
  <ion-grid style="position: fixed; left: 0; bottom: 0">
    <ion-row>
      <ion-col col-10>
        <button ion-button style="width: 100%" (click)="checkout()">Checkout</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
    <button ion-fab color="theme" (click)="scanBarcode()">
      <ion-icon name="add"></ion-icon>
    </button>

  </ion-fab>

</ion-content>