<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="theme">
    <ion-title>History</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf ="userData.role == 'Buyer'"padding style="background-color: #EEEEEE;">

    <ion-card margin-left margin-right *ngFor="let transaction of transactions" (click)="historyDetails(transaction)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-header no-padding>
                <strong>Transaction ID : {{ transaction.id }}</strong>
              </ion-card-header>
              <ion-card-content no-padding>
                Buyer : {{ transaction.storeId }}<br>
                Tanggal : {{ transaction.date }}<br>
                Jam : {{ transaction.time }}
              </ion-card-content>
              <p *ngIf="transaction.status == 'success'" style="color: #32db64;" text-right>{{transaction.status}}</p>
              <p *ngIf="transaction.status == 'cancelled'" style="color: #f53d3d;" text-right>{{transaction.status}}</p>
              <p *ngIf="transaction.status == 'pending'" style="color: #ffbf00;" text-right>{{transaction.status}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

</ion-content>

<ion-content *ngIf ="userData.role == 'Seller'"padding style="background-color: #EEEEEE;">

    <ion-card margin-left margin-right *ngFor="let transaction of transactions" (click)="historyDetails(transaction)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-header no-padding>
                <strong>Transaction ID : {{ transaction.id }}</strong>
              </ion-card-header>
              <ion-card-content no-padding>
                Buyer : {{ transaction.buyerInfo.firstname }} {{ transaction.buyerInfo.lastname }}<br>
                Tanggal : {{ transaction.date }}<br>
                Jam : {{ transaction.time }}
              </ion-card-content>
              <p *ngIf="transaction.status == 'success'" style="color: #32db64;" text-right>{{transaction.status}}</p>
              <p *ngIf="transaction.status == 'cancelled'" style="color: #f53d3d;" text-right>{{transaction.status}}</p>
              <p *ngIf="transaction.status == 'pending'" style="color: #ffbf00;" text-right>{{transaction.status}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

</ion-content>


