<ion-header>
  <ion-navbar color="theme" style="height: 60px;">
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" placeholder="Search Your Product" (ionInput)="onSearch($event)" (ionCancel)="cancelSearch()"></ion-searchbar>
    <img *ngIf="!isSearchbarOpened" src="../../assets/imgs/icon.png" style="width: 100px;">
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content style="background-color: #EEEEEE;">
  <h1 style="padding-left: 30px">Product List</h1>
  <!-- <ion-searchbar placeholder="Search Your Product" (ionInput)="onInput($event)"></ion-searchbar> -->
  <hr style="margin-bottom: 2px" />
  <ion-list>
    <ion-item-sliding *ngFor = "let product of items">
      <ion-item> 
        <ion-row>
          <ion-col col-3>
            <img *ngIf="!!product.product.profile" [src]="product.product.profile" style="width: 70px">
            <img *ngIf="product.product.profile == undefined" src="../../assets/icon/ProductDefaultIcon.png" style="width: 70px">
          </ion-col>
          <ion-col col-9>
            <h3><strong>{{product.product.name}}</strong></h3>
            <p>{{product.product.desc}}</p>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="editProduct(product)" style="width: 15%;"><ion-icon name="create"></ion-icon>Edit</button>
        <button ion-button color="danger" (click)="deleteProduct(product)" style="width: 15%;"><ion-icon name="trash"></ion-icon>Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addProduct()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
